/*
#searchWrapper {
  margin: 0 12px;
  font-weight: lighter;
  font-size: .9rem;
}
*/
.filterFlexbox {
  display: flex;
}
/*
.flexColumn1 {
  flex: 0 0 140px;
}

.greenLi {
  color: #02e702;
}
*/
.checkbox {
  width: 11px;
  height: 11px;
}
li {
  list-style-type: none;
  font-size: .8rem;
}
h4 {
  margin: 0;
}
/*
.filterHeadings {
  margin: 9px 0 2px 3px;
  font-weight: normal;
}
*/