#searchWrapper {
  margin: 0 12px;
  font-weight: lighter;
  font-size: .9rem;
}
.selectbox {
  margin-top: 10px;
}
.filterFlexbox {
  display: flex;
}
.flexColumn1 {
  flex: 0 0 140px;
}
.greenLi {
  color: rgb(2, 231, 2);
}
.checkbox {
  width: 11px;
  height: 11px;
}
li {
  list-style-type: none;
  font-size: .8rem;
}
.filterHeadings {
  margin: 9px 0 2px 3px;
  font-weight: normal;
  color: rgb(2, 231, 2);
}