#searchPageWrapper {
  margin: 18px 0 0 0;
}
.searchPageHeadings {
  font-weight: normal;
  text-align: center;
  margin: 10px 0 12px 0;
}
#searchPageFlexbox {
  display: flex;
  margin-top: 38px;
}
#flexItemSearch {
  flex: 0 0 340px; /* flex-grow, flex-shrink, flex-basis (width) */
  margin: 0;
  padding-bottom: 14px;
  background-color: #536d90;
  color: white;
  border-radius: 0 12px 0 0;
}
#flexItemResults {
  flex: 0 0 880px;
}
#resultsWrapper {
  text-align: left;
  margin: 0 0 0 40px;
}
#noResultsMessage {
font-size: 1.5rem;
color: #536d90;
background-color: #f2f2f2;
line-height: 3rem;
padding: 14px 10px 14px 28px;
width: 38rem;
border-radius: 5px;
box-shadow: 5px 10px 8px #888888;
}
